fastapi
uvicorn[standard]
sqlalchemy
psycopg[binary,pool]
pydantic
pydantic-settings
python-dotenv
alembic
psycopg2-binary
asyncpg
passlib[bcrypt]
python-jose[cryptography]
python-multipart
faker
email-validator
